.form-horizontal .checkbox {
  padding-top: 0;
}

.login .form-control:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  text-transform: lowercase;
  font-size: 28px !important;
}
